

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DISEASES</title>
</head>

<body>
    <div class="container">
        <div id="individual-content">
            <h1>Diseases</h1>
            <img src="sicksmall.png">
        </div>
        <table class="search-form">
            <tr>
                <td>
                    <form action="/locations" method="get">
                        <div>
                            <label for="Diseases">Diseases</label>
                            <select class="form-control" name="disease" id="disease">
                                <option value="BA">Biliary Atresia</option>
                                <option value="DF">Dengue Fever</option>
                            </select>
                            <label for="Diseases">Hospital Stay More than 14 Days</label>
                            <select class="form-control" name="stay" id="stay">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                     <input type="submit" class="btn btn-info" role="button">
                    </form>
                </td>
            </tr>
        </table>
    </div>

</body>