

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HOSPITALS</title>
</head>

<body>
  <table class="search-form">
    <tr>
      <td>
        <form action="#" style="text-align: left; ">
              <label for="lang">State</label>
              <select name="languages" id="lang">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
              </select>
              <input type="submit" value="Submit" />
        </form>
      </td>
    </tr>
  </table>
</body>