

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TREATMENTS</title>
</head>

<body>
    <div class="container">
        <h1>Treatments</h1>
        <form action="#nowhere">
            <div class="form-group">
                <label for="City">City</label>
                <input type="City" class="form-control" id="city" placeholder="City">
            </div>
            <div class="form-group">
                <label for="State">State</label>
                <select class="form-control" name="state" id="state">
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                </select>
            </div>
            <a href="/showTreatments" class="btn btn-info" role="button">Submit</a>
        </form>
    </div>

</body>